
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="python, argeparse, arguments, ArgumentParser, command-line" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}


	  <p>When you initially run a python script from the command-line you can also pass other values known as <code>arguments</code> and these arguments can be set based on a flag. For example, suppose we want to pass an .txt file to our script for it to read. We could do something similar to this...</p>

<pre>
python myscript.py -i sample.txt
</pre>

	<p>The above example is saying set our input file (referenced by -i) as sample.txt. In this tutorial I'll show you have to add this functionality and we'll do it using the <code>argparse</code> python module.</p>

	<p>First thing we'll need to do is import the argparse module.</p>

<pre class="line-numbers"><code class="language-python">
import argparse
</code></pre>

	  <p>Next we'll create an <code>ArgumentParser</code> object. We can also set a description which will be displayed if the user adds the <code>-h</code> flag to view the scripts help options.</p>

<pre class="line-numbers"><code class="language-python">
    parser = argparse.ArgumentParser(description='This is the description')
</code></pre>	  

	<p>Now it's time to add some arguments. Lets create some arguments for an input file, output file, and a birthyear. If the user doesn't specifiy an output file we'll set a default output filename as <code>sample.txt</code>.</p>

<pre class="line-numbers"><code class="language-python">
    parser.add_argument('-i', '--input', type=str, help='Input file')
    parser.add_argument('-o', '--output', type=str, default='sample.txt', help='Output file')
    parser.add_argument('-b', '--birthyear', type=int, help='Birth year')
</code></pre>

	<p>We specified a shorthand version of our flags to -i, -o, -b and long versions to --input, --output and --birthyear. It's up to the user which one they choose to use. Next we specified the type of value that is expected, either a string or an integer. Notice for our output argument we set a default as <code>sample.txt</code>. Finally we added some help strings to guide the user on what is expected.</p>

	<p>Once we have all of our arguments specified we need to parse them all out.</p>

 <pre class="line-numbers"><code class="language-python">
    args = parser.parse_args()
</code></pre>

	<p>Now all of our arguments can be referenced using the <code>args</code> variable we just created and we reference each value.</p>

<pre class="line-numbers"><code class="language-python">
    print args           	# print all arguments out
    print args.output    	# print output
    print args.birthyear 	# print birthyear   
</code></pre>

	<p>It's time to run our script and pass some arguments. First we'll take a look at the help contents using the <code>-h</code> flag.</p>

<pre>
./argument_parser.py -h
</pre>

<pre>
usage: argument_parser.py [-h] [-i INPUT] [-o OUTPUT] [-b BIRTHYEAR]

This is the description

optional arguments:
  -h, --help            show this help message and exit
  -i INPUT, --input INPUT
                        Input file
  -o OUTPUT, --output OUTPUT
                        Output file
  -b BIRTHYEAR, --birthyear BIRTHYEAR
                        Birth year
</pre>

	<p>Now lets run the script again, but this time pass some arguments.</p>

<pre>
./argument_parser.py --birthyear 1988 -o test.txt
</pre>

<pre>
Namespace(birthyear=1988, input=None, output='test.txt')
test.txt
1988
</pre>

	  <p>If we did not supply an output file, our output argument would have been set to the default value of <code>sample.txt</code>.</p>

	  <p>Here is the final script used in this tutorial which also writes the supplied birthyear to the output file. Feel free to tweak the script to give yourself a better understand of how argparse works in Python. If you have any questions please leave a comment below.</p>


<pre class="line-numbers"><code class="language-python">
#!/usr/bin/python
import argparse

def main():
    parser = argparse.ArgumentParser(description='This is the description')
    parser.add_argument('-i', '--input', type=str, help='Input file')
    parser.add_argument('-o', '--output', type=str, default='output.txt', help='Output file')
    parser.add_argument('-b', '--birthyear', type=int, help='Birth year')

    args = parser.parse_args()
    
    print args           # print all arguments out
    print args.output    # print output
    print args.birthyear # print birthyear   

    ofile = open(args.output, 'w')
    ofile.write("{}\n".format(args.birthyear))
    ofile.close()

if __name__ == "__main__":
    main() 
</code></pre>


<br>


<div class="post-pagination">
   {% if nextTitle != "None" %}
  <center><a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a></center>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}


