
{% extends "tutorial-master.html" %}
{% block content %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->

	  <div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/OIuXVZuHXXo" frameborder="0" allowfullscreen></iframe></div>

	  <p>The Hello World application is the most basic tutorial for any programming
			 language. In this tutorial we will learn how to setup a basic Python script and
			 output the string "Hello World!" to the console."</p>


	  <p>Lets begin by creating a file: <code>HelloWorld.py</code>
<pre class="line-numbers"><code class="language-python">
def main():
    print("Hello World!")

if __name__ == "__main__":
    main()</code></pre>

	  <p>In the above code, we defined a method called main. <code>def main():</code>.
			 A method is simply a block of code that can do something. Inside that method we are
			 telling Python to print the string "Hello World!" to the console.</p>
		<p><code>if __name__ == "__main__":</code> This statement is used so that this script
		    can be run directly.</p>
<br>
	  <p> Save the file and in the console type: <code>python HelloWorld.py</code>.
			You should see output similar to the example below.</p>

<pre class="command-line"><code class="language-bash">
				$ python HelloWorld.py<br />
				Hello World!
</code></pre>


		</script>

<div class="post-pagination">
   {% if nextTitle != "None" %}
  <a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}
