    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap_ui_kit.min.css)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='/assets/css/now-ui-kit.css)}}"rel="stylesheet" />
	<!-- SyntaxHighlighter -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/prism.css')}}" />