
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="kodi, covenant, how to, install, tv, shows, movies, free, stream, streaming" />
<meta name="description" content="Step-by-step guide on how to install the Covenant addon in Kodi to get access to tons of tv shows and movies to stream." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}


<center><img src="{{ url_for('static', filename='assets/img/tutorials/exodus/logo.png')}}" alt="Kodi logo" class="img-rounded img-responsive"></center>
	  <p>Kodi is an open-source media center that lets you install addons. Covenant is very similar to Exodus, one of the most popular addons. Covenant gives you the ability
	  to search for any tv show or movie and stream it for FREE! In this tutorial I'll guide you through installing the Covenant addon.</p>
	  
	  <h3>Required Downloads</h3>
	  <p>If the download link below does not work, you can grab the Kodi installer from the <a href="https://kodi.tv/download" target="_blank">official website</a></p>
	  <a target="_blank" href="http://mirrors.kodi.tv/releases/win32/kodi-17.1-Krypton.exe"><span class="glyphicon glyphicon-download"></span> Download Kodi 17.1</a>
	  <p>Once the download is complete, open the installer and proceed to install Kodi.</p>
	  
	  <h3>Installing Exodus</h3>
	  <ul>
		<li>Run Kodi</li>
		<li>Click <code>settings</code>
		<img src="{{ url_for('static', filename='assets/img/tutorials/exodus/1.jpg')}}" alt="Kodi settings icon" class="img-rounded img-responsive">
		<li>Click <code>System Settings</code></li>
		<li>Click Add-ons</li>
		<li>Enable <code>Unknown Sources</code></li>
		<li>Go back to settings and click <code>File Manager</code></li>
		<li>Click <code>Add Source</code></li>
		<li>Type <code>fusion</code> as the name for the media source</li>
		<li>For the media source URL put <code>http://mediarepos.net/kodistuff</code> and click <code>OK</code></li>
		<img src="{{ url_for('static', filename='assets/img/tutorials/exodus/2.jpg')}}" alt="Add media source in Kodi" class="img-rounded img-responsive">
		<li>Go back to the home screen and click <code>Add-ons</code></li>
		<li>Click the box icon</li>
		<img src="{{ url_for('static', filename='assets/img/tutorials/exodus/3.jpg')}}" alt="Install add-on from repository" class="img-rounded img-responsive">
		<li>Click <code>Install from zip file</code></li>
		<li>Select kodistuff > RepoColossus</li>
		<li>Choose <code>Install from repository</code></li>
		<li>Click <code>Colossus repository</code></li>
		<li>Click <code>Video add-ons</code></li>
		<li>Click <code>Covenant</code></li>
		<li>Click <code>Install</code></li>
		</ul>
		<p>The Covenant add-on will now be downloaded and installed. To open Covenant, goto the home screen and click Add-ons.</p>
		
		<p>Have fun watching your favorite TV shows and movies! :)</p>
		
		
<br>


<div class="post-pagination">
   {% if nextTitle != "None" %}
  <center><a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a></center>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}


