{% extends "blog-master.html" %}

{% block metatags %}
<meta name="keywords" content="nmarriotti, programming, portfolio, tutorials, blog, python, visual basic" />
<meta name="description" content="Programming tutorials and personal blog for Nick Marriotti" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}
              {% for t in BLOG_TOPIC_DICT["blog"][:5] %}
                    <!-- start post -->
                    <div class="post">
                        <!-- start photo -->
                        {% if t[4] != "none" %}
                        <div class="photo">
                            <img src="{{ url_for('static', filename='assets/img/blog/') }}{{ t[4] }}" alt="{{ t[0] }}">
                        </div>
                        {% endif %}
                        <!-- end photo -->
                        <!-- start title post -->
                        <h3 class="title title-blog"> {{ t[0] }} </h3>
                        <!-- end title post -->
                        <div class="entry-byline">
                            <i class="fa fa-user"></i>
                            <span class="entry-author right-border">

                                    <span>Nick</span>

                            </span>
                            <i class="fa fa-clock-o"></i>
                            <time class="entry-published right-border">{{ t[2] }}</time>
                        </div>
                        <!-- start desc post -->
                        <p>{{ t[3] }}</p>
                        <!-- end desc post -->
                        <a href="/blog/{{ t[1] }}" class="btn hover-animate btn-color-hover">Read More</a>
                    </div>
                    <!-- end post -->
              {% endfor %}

{% endblock %}
{% block categories %}
      {% for category in categories %}
          <li class="cat-item cat-item-6"><a href="#">{{ category.category }}</a></li>
      {% endfor %}
{% endblock %}
{% block recent_posts %}
{% endblock %}
