<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ title }} | Nick Marriotti</title>
    {% block metatags %}{% endblock %}
    {% include 'includes/cssjsheader.html' %}
</head>

<body>

<!-- Load page -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- End load page -->

    <!-- Start Head section -->
    <header class="head-blog">
        <div class="slider_container">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="head">
                            <!-- start container -->
                            <div class="container">
                                <!-- start row -->
                                <div class="row">
                                    <div class="col-xs-8 col-sm-10 col-lg-10">
                                        <img class="logo-page" src="./../static/assets/img/blog_l.png" alt="Ukieweb">
                                        <!-- Title Page -->
                                        <h2 class="title">{{title}}</h2>
                                        <!-- Description Page -->
                                        <h4 class="sub-title">Just some random stuff</h4>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-lg-1 text-right">
                                        <ul class="flex-direction-nav"><li><a class="next" href="#"></a></li></ul>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-lg-1 text-right">
                                        <a href="/" class="btn-close hover-animate"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="head search-head search-blog">
                            <!-- start container -->
                            <div class="container">
                                <!-- start row -->
                                <div class="row">
                                    <div class="col-xs-10 col-sm-11 col-lg-11">
                                        <form action="" method="">
                                            <input type="text" name="search" class="search-input" placeholder="Search" value="" />
                                            <input type="submit" class="btn-search" value="" />
                                        </form>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-lg-1 text-right">
                                        <ul class="flex-direction-nav"><li><a class="prev" href="#"></a></li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>



    <!-- Start Blog section -->
    <section class="blog">
        <!-- start container -->
        <div class="container">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Blog</li>
          </ol>
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8 padding-bottom">
                  <!-- Ad -->
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- ad_responsive -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-1536610602343915"
                       data-ad-slot="3839980586"
                       data-ad-format="auto"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                  <!-- End Ad -->
                    <!-- start post -->
                    {% block content %}
                    {% endblock %}
                    <!-- end post -->
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-4">

                  <!-- Ad -->
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- sidebar_rect -->
                  <ins class="adsbygoogle"
                       style="display:inline-block;width:336px;height:280px"
                       data-ad-client="ca-pub-1536610602343915"
                       data-ad-slot="6933047788"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                  <!-- End Ad -->


                    <!-- start slidebar -->
                    <aside class="widget widget_categories">
                        <h3 class="widget-title">Tutorials</h3>
                        <ul>
                          {% for t in TUTORIAL_CAT["Types"] %}
                          <li><a href="{{t[1]}}">{{t[0]}}</a></li>
                          {% endfor %}
                        </ul>
                    </aside>

                    <aside class="widget widget_categories">
                        <h3 class="widget-title">Older Posts</h3>
                        <ul>
                          {% for t in BLOG_TOPIC_DICT["blog"] %}
                          <li><a href="/blog/{{t[1]}}">{{t[0]}}</a></li>
                          {% endfor %}
                        </ul>
                    </aside>

                    <!-- end slidebar -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Blog section -->

    <!-- Start Footer section -->
    {% include 'includes/footer.html' %}
    <!-- End Footer section -->

</div>

<!-- Scroll to Top -->
<a href="#" class="btn hover-animate scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll to Top -->

<!-- Style Contact Form -->
<!-- delete this from site once you have decided on a colour scheme - follow documentation for insructions -->
<!-- Button Style open -->
<div class="style-open-form animated hi-icon-effect-8">
    <i class="hi-icon fa fa-envelope-o ukie-icons hover-animate hi-icon-mobile"></i>
</div>
<!-- End Button Style open -->
<div class="style-contact-form style-off-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <!-- Start Contact Form -->
            <div class="contact-form">
                <div class="btn-close-form">
                </div>
                <h3 class="title title-contact">Contact Me</h3>
                <p>Use this form to tell me about your project goals and needs. I will be in touch within 24 hours.</p>
                <form action="../static/assets/php/contact.php" id="contact-form-panel" method="post">
                    <input type="text" id="user-name-panel" name="user-name" value="" placeholder="Name" />
                    <input type="email" id="user-email-panel" name="user-email" value="" placeholder="Email" />
                    <input type="hidden" id="user-status-panel" name="user-status" value="1"  />
                    <textarea id="user-message-panel" name="user-message" placeholder="Message"></textarea>
                    <div class="footer-form">
                        <input type="submit" id="submit-btn-panel" class="btn btn-color hover-animate"  value="Send Message" />
                        <div class="info-message-form">
                            <p>Please fill out all the fields!</p>
                            <span class="close-msg"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
            <!-- End style-open -->
        </div>
    </div>
    <!-- End row -->

<!-- Scripts -->
<script src="../static/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="../static/assets/boostrap-files/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.appear.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="../static/assets/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.inview.min.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.knob.min.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.cookie.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.ratyli.js" type="text/javascript"></script>
<script src="../static/assets/js/modernizr.custom.js" type="text/javascript"></script>
<script src="../static/assets/js/contact_scripts.js" type="text/javascript"></script>
<script src="../static/assets/js/scripts.js" type="text/javascript"></script>

</body>
</html>
