<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ title }} Tutorials | Nick Marriotti</title>
    <meta name="keywords" content="nickmarriotti, programming, windows, general, tips, tricks, learn, tutorials, how-to" />
    <meta name="description" content="Random tutorials for random topics!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% include 'includes/cssjsheader.html' %}
</head>

<body>

<!-- Load page -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- End load page -->

    <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-8 col-sm-11 col-lg-11">
                    <img class="logo-page" src="{{ url_for('static', filename='assets/img/portfolio_l.png')}}" alt="Nick Marriotti">
                    <!-- Title Page -->
                    <h2 class="title">{{ title }}</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">Just some {{ title }} tutorials!</h4>
                </div>
                <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                    <a href="/" class="btn-close hover-animate"></a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->
    <div class="container">
        <!-- start row -->
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li class="active">{{ title }}</li>
        </ol>
        <div class="row">
    <!-- Start Portfolio section -->
    <div class="portfolio-section">

        <!-- start container -->
        <div class="list-group">
          {% for t in TOPIC_DICT[title] %}
          <a href="/tutorials/{{title.lower()}}/{{t[1]}}" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> {{t[0]}}</a>
          {% endfor %}
        </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container --><br><br>
    </div>
    <!-- End Portfolio section -->


    <!-- Start Footer section -->

    <!-- End Footer section -->

</div>

<!-- Scroll to Top -->
<a href="#" class="btn hover-animate scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll to Top -->

<!-- Style Contact Form -->
<!-- delete this from site once you have decided on a colour scheme - follow documentation for insructions -->
<!-- Button Style open -->
<div class="style-open-form animated hi-icon-effect-8">
    <i class="hi-icon fa fa-envelope-o ukie-icons hover-animate hi-icon-mobile"></i>
</div>
<!-- End Button Style open -->
<div class="style-contact-form style-off-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <!-- Start Contact Form -->
            <div class="contact-form">
                <div class="btn-close-form">
                </div>
                <h3 class="title title-contact">Contact Me</h3>
                <p>Use this form to tell me about your project goals and needs. I will be in touch within 24 hours.</p>
                <form action="assets/php/contact.php" id="contact-form-panel" method="post">
                    <input type="text" id="user-name-panel" name="user-name" value="" placeholder="Name" />
                    <input type="email" id="user-email-panel" name="user-email" value="" placeholder="Email" />
                    <input type="hidden" id="user-status-panel" name="user-status" value="1"  />
                    <textarea id="user-message-panel" name="user-message" placeholder="Message"></textarea>
                    <div class="footer-form">
                        <input type="submit" id="submit-btn-panel" class="btn btn-color hover-animate"  value="Send Message" />
                        <div class="info-message-form">
                            <p>Please fill out all the fields!</p>
                            <span class="close-msg"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
            <!-- End style-open -->
        </div>
    </div>
    <!-- End row -->

<!-- Scripts -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.11.2.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/boostrap-files/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.appear.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.mixitup.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.flexslider-min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.inview.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.knob.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.cookie.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js')}}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='assets/fancybox/source/jquery.fancybox.pack.js')}}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='assets/fancybox/source/helpers/jquery.fancybox-buttons.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.ratyli.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/portfolio_scripts.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/modernizr.custom.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/contact_scripts.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/scripts.js')}}" type="text/javascript"></script>

</body>
</html>
