<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ title }} | Nick Marriotti</title>
    {% block metatags %}{% endblock %}
    {% include 'includes/scriptheader.html' %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1536610602343915",
    enable_page_level_ads: true
  });
</script>
</head>

<body class="profile-page">
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md bg-primary fixed-top" color="500">
        <div class="container">
            <div class="dropdown button-dropdown">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Navigation</a>
                    <a class="dropdown-item" href="/tutorials">Tutorials</a>
                    <a class="dropdown-item" href="/blog">Blog</a>
                </div>
            </div>
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="/" rel="tooltip" title="Back to homepage." data-placement="bottom">
                    Nick Marriotti
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Change programming language" data-placement="bottom" href="/tutorials">Change Topic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Download Source Files</a>
                    </li>
                                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    More {{ curTopic }} Tutorials
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% for t in TOPIC_DICT[curTopic] %}
                          <a class="dropdown-item" href="{{t[1]}}">{{t[0]}}</a>
                          {% endfor %}
                                                </div>
                                            </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/marriotti" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="hidden-lg-up">Facebook</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header-none" filter-color="orange">
        </div>
        <div class="section">
                          <!-- Ad -->
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- ad_responsive -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-1536610602343915"
                       data-ad-slot="3839980586"
                       data-ad-format="auto"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                  <!-- End Ad -->
            <div class="container">
               <!-- Title Page -->
               <h2 class="title">{{curTitle}}</h2>
               <!-- Description Page -->
               <h4 class="description">{{ curTopic }}</h4><hr>
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 padding-bottom">
                    <!-- start post -->
                    {% block content %}
                    {% endblock %}
                    <!-- end post -->
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12">
                  <br><br><br><br>
                  <div id="disqus_thread"></div>
                    <script>
                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://nickmarriotti.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<br><br><br>
                </div>

                </div>
            </div>
        </div>
    {% include 'includes/newfooter.html' %}
    </div>
</body>

    {% include 'includes/jsheader.html' %}

</html>