
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="KEYWORDS GO HERE" />
<meta name="description" content="DESCRIPTION GOES HERE" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}

<!-- Ad -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_responsive -->
<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-1536610602343915"
		 data-ad-slot="3839980586"
		 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- End Ad -->
<br>
	  <p>Looking back at the last tutorial where I mentioned packaging up kitchen applicances
			into a box labeled "Kitchen Applicances", let's talk about how this analogy applies to C++.</p>

		<p>Imagine you had some whole numbers, decimal numbers,
			 some words (text), some characters (example: 'B') and maybe a true/false variable.
			 When creating variables to hold these different types of information there are Data Types that
			 must be declared first.</p>

	<h3>Basic Data Types</h3>
			 <table class="table table-bordered table-responsive">
	 <tr>
	 <th width="50%">Type</th>
	 <th>Keyword</th>
	 <th>Purpose</th>
	 </tr>
	 <tr>
	 <td>String</td>
	 <td>string</td>
	 <td>Used to hold text values</td>
	 </tr>
	 <tr>
	 <td>Boolean</td>
	 <td>bool</td>
	 <td>True/False</td>
	 </tr>
	 <tr>
	 <td>Character</td>
	 <td>char</td>
	 <td>Example 'M' or 'F' for a gender</td>
	 </tr>
	 <tr>
	 <td>Integer</td>
	 <td>int</td>
	 <td>Whole numbers</td>
	 </tr>
	 <tr>
	 <td>Floating point</td>
	 <td>float</td>
	 <td>Decimal number with 7 digits or precision.</td>
	 </tr>
	 <tr>
	 <td>Double floating point</td>
	 <td>double</td>
	 <td>Decimal number with 15 digits of precision</td>
	 </tr>
	 <tr>
	 <td>Valueless</td>
	 <td> void</td>
	 <td>Used primarily to declare functions that return no values</td>
	 </tr>
	 </table>

	 <h3>Sample Program</h3>
	 <p>Here is a sample program that uses some of the basic data types described
		 above and the resulting output. There's a lot more to learn about data types.
		 For more information <a href="http://www.w3schools.in/cplusplus-tutorial/data-types/" target="_blank">click here</a>.</p>

<pre class="line-numbers"><code class="language-cpp">
	#include "iostream"
	#include <math.h>

	using namespace std;

	int main()
	{
	    int age = 10;
	    float money = 50.00;
	    double pi = M_PI;
	    string name = "Nick Marriotti";
	    char gender = 'M';
	    bool isMale = false;

	    cout << "Age is " << age << endl;
	    cout << "Money is " << money << endl;
	    cout << "Pi is " << pi << endl;
	    cout << "Your name is " << name << endl;
	    cout << "Gender is " << gender << endl;

	    if(gender == 'M') {
	        isMale = true;
	    }

	    if(isMale) {
	        cout << "You are male!";
	    }

	    return 0;
	}
</code></pre>

		<h4>Sample Output</h4>

		<img src="{{ url_for('static', filename='assets/img/tutorials/cpp_datatypes/output.jpg')}}" alt="Sample program showing how to declare and use variables of different data types" class="img-rounded img-responsive">

	  <p>In the above code example you can get an understanding of how the variables
			are defined and which data types are assigned. Feel free to modify the code to your liking.
			Don't worry about the IF statements I'll cover those and the other conditional statements
			in the next tutorial.</p>


<br>
<!-- Ad -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1536610602343915"
     data-ad-slot="3839980586"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- End Ad -->

<div class="post-pagination">
   {% if nextTitle != "None" %}
  <a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}
