
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="C++, functions, pass by value, return, function, cpp, integer, menu, nickmarriotti, tutorials, beginner" />
<meta name="description" content="In this tutorial I explain what a function is, how you can benefit from them, and how to pass values between them; allowing you to have more organized code." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}


	  <p>Functions are used to break your code up into organized pieces. They can also take in variable values, <strong>pass by value</strong>, or 
	  they can update variables, <strong>pass by reference</strong>, and return values. We'll look at examples of each in this tutorial.</p>
	  
	  <p>Let's say you were creating a menu application with options for the user to choose from; instead of copying the menu code and pasting 
	  it where it's needed, you can just <code>call</code> a create menu function.</p>
	  
	  <p>Using functions also enables you to only have to update code in one spot rather than many, making it a heck of a lot easier if you 
	  need to update your code down the road.</p>
	  
	  <h3>Functions that DO NOT return a value</h3>
	  <p>The menu we are going to create is only going to print to the screen so we will define our function as <code>void</code> and we'll name it <strong>menu</strong>.</p>
<pre class="line-numbers"><code class="language-cpp">
void menu() {
	cout << "1. Option" << endl;
	cout << "2. Option" << endl;
	cout << "3. Option" << endl;
	cout << "4. Option" << endl;
}
</code></pre>	  
	  

	  <p>So there's our menu function. Notice there's nothing inside the parenthesis, because we don't need to take in any variables. Now lets use it.</p>

<pre class="line-numbers"><code class="language-cpp">
#include "iostream"
using namespace std;

// Declare our function
void menu();

int main() {
	
	// Call the function
	menu();
	
	return 0;
}


void menu() {
	cout << "1. Option" << endl;
	cout << "2. Option" << endl;
	cout << "3. Option" << endl;
	cout << "4. Option" << endl;
}
</code></pre>	 

<p><strong>Line 5:</strong> We have to declare our function before our <code>int main()</code>, because our function is defined below the main function.</p>
<p><strong>Line 10:</strong> Here we <strong>CALL</strong> our function by using the function name. This tells the compiler to jump down to our function and execute the code inside it.</p>
<p><strong>Line 16-21:</strong> This is our function and all we want it to do is print out our menu.

<h3>Functions that DO return a value</h3>
<p>When creating a function that returns a value, the function must be defined with its return data type.</p>
<p>In this example we are going to add two whole numbers together and return the answer. Since we're dealing with whole numbers we'll use an integer data type.</p>
<pre class="line-numbers"><code class="language-cpp">
#include "iostream"
using namespace std;

// Declare our function
int add();

int main() {
	
	// Call the function
	int i = add();
	
	return 0;
}


int add() {
	int result = 5 * 10;
	
	return result
}
</code></pre>

<p> Just like our menu function, we declared our function above our int main, but this time we are setting an integer variable equal to the return value of our function, which is our result variable.</p>

<h3>Pass by Value</h3>
<pre class="line-numbers"><code class="language-cpp">
#include "iostream"
using namespace std;

// Declare our function
int add(int, int);

int main() {
	
	// Call the function
	int i = add(5, 2);
	
	return 0;
}


int add(int x, in y) {
	int result = x * y;
	
	return result
}
</code></pre>
<p><strong>Line 5:</strong> We are passing in two variables, so inside the parenthesis we add the data type for each variable.</p>
<p><strong>Line 10:</strong> We pass in the the values 5 and 2.</p>
<p><strong>Line 16:</strong> Since we passed in 5 and 2 when we called the function, <code>int x is now equal to 5</code> and <code>int y is equal to 2</code>.</p>
<p><strong>Line 17:</strong> Set result variable equal to x*y or 5*2.</p>
<p><strong>Line 19:</strong> return the value of our result variable, which is 10, back to where this function was called.</p>

<br><br>
<p>This tutorial should give you a basic understanding of how functions work. If you have any questions please leave a comment and I'll help you out as best I can.</p>
<br>


<div class="post-pagination">
   {% if nextTitle != "None" %}
  <center><a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a></center>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}


