
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="reading, read, files, cpp, c++, how to, tutorial, nickmarriotti" />
<meta name="description" content="Demonstrating how to read files in C++." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}


	  <p>In this tutorial we will open the .txt file we created from the last tutorial and output it to the console.</p>


<pre class="line-numbers"><code class="language-cpp">
#include &lt;iostream&gt;
#include &lt;fstream&gt;
using namespace std;

int main() {
    
    // Reading
    string line;
    ifstream inputfile("example.txt");
    
	if(inputfile.is_open()) {
        while(getline(inputfile, line)) {
            cout << line << endl;
        }
        inputfile.close();    
    } else {
        cout << "Unable to open file\n";
    }
    
    return 0;
}
</code></pre>

<h2>Explanation</h2>
<p><strong>Line 8:</strong> Created a string variable named <code>line</code>. This variable will hold the contents of each line we read from the file.</p>
<p><strong>Line 9:</strong> Created an input stream <code>ifstream></code> object named <code>inputfile</code> and set the file we want to open.</p>
<p><strong>Line 11:</strong> We used <code>inputfile.is_open()</code> because we only want to get the contents of the file if the file opened successfully.</p>
<p><strong>Line 12-14:</strong> Loop through each line in our inputfile object and store each line in the string called <code>line</code> and output it to the console.</p>
<p><strong>Line 15:</strong> Close the file.</p>
<p><strong>Line 16-18:</strong> If the file didn't open then display an error message.</p>
<br>
<p>In the next tutorial I'll show you open and display each value in a comma delimited (CSV) file.</p>
<br>


<div class="post-pagination">
   {% if nextTitle != "None" %}
  <center><a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a></center>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}


