
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="IO, writing, files, write, c++, cpp" />
<meta name="description" content="This tutorials demonstrates how to write files in C++" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}

<!-- Ad -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_responsive -->
<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-1536610602343915"
		 data-ad-slot="3839980586"
		 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- End Ad -->
<br>

	  <p>In this tutorial we will create a .txt file and write some strings to it.</p>


<pre class="line-numbers"><code class="language-cpp">
#include &lt;iostream&gt;
#include &lt;fstream&gt;
using namespace std;

int main() {
    
    // Writing
    ofstream myfile;
    myfile.open("example.txt");
    myfile << "We are going to write this string to the file\n";
    myfile.close();
    
    return 0;
}
</code></pre>

<h2>Explanation</h2>
<p><strong>Line 8:</strong> Created an output filestream object named <code>myfile</code>.</p>
<p><strong>Line 9:</strong> Opened a file called <code>example.txt</code> using our myfile object.</p>
<p><strong>Line 10:</strong> Sent a string into example.txt.</p>
<p><strong>Line 11:</strong> Closed the file.</p>
<br>
<br>
<p>In the next tutorial I'll show you how to read this file.</p>
<!-- Ad -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1536610602343915"
     data-ad-slot="3839980586"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- End Ad -->

<div class="post-pagination">
   {% if nextTitle != "None" %}
  <a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}


