
{% extends "tutorial-master.html" %}

{% block metatags %}
<meta name="keywords" content="java, jdk, jre, Hello, World, first, program, tutorial, nickmarriotti" />
<meta name="description" content="Creating your first Hello World Java program." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block content %}

	<p>Java is one of the most popular programming languages. It's source code is compiled down to bytecode that is ran from the Java Virtual Machine. Before we get started make sure you have the <strong>Java Runtime Environment (JRE)</strong> and <strong>Java Development Kit (JDK)</strong> installed.</p>

	<p>When working with Java, all classes and functions MUST be wrapped in curly braces and all statements MUST end with a semicolon.</p>

	<p>Let's get started! Create a file <code>Hello.java</code> and add the following code:</p>

<pre class="line-numbers"><code class="language-java">
public class Hello {
    public static void main(String[] args) {
        System.out.println("Hello World");
    }
}

</code></pre>

	 <p>Notice how we have <code>public class Hello</code>... All Java files are essentially a class, and the class name is typically uppercase and the same name as the file itself. We'll get into working with classes and objects later. First we need to learn the basic outline for a program.</p>

	  <p>We now have <code>public static void main(String[] args)</code> This is where your program begins and is required for it to run. If you've worked with C or C++ its essentially the same thing as the int main function.</p>

	  <p>To print strings, we want to use <code>System.out.println()</code>. The <strong>println()</strong> function will put whatever string it contains on its own line.</p>

	  <p>To compile your program, open a console or terminal and navigate to where your file is saved and execute the following command:</p>

<pre>
javac Hello.java
</pre>

	  <p>Now that our program is compiled lets run it with:

<pre>
java Hello
</pre>

	 <p>You should now see our string, "Hello World" printed to the screen.</p>

<pre>
Hello World
</pre>	 


	  <p>Congrats, you just wrote, compiled and ran your first Java program!</p>

<br>


<div class="post-pagination">
   {% if nextTitle != "None" %}
  <center><a title="{{nextTitle}}" href="{{nextLink}}" class="btn btn-color-hover hover-animate next"> Next Tutorial: {{nextTitle}}</a></center>
  {% else %}
  You've reached the last tutorial for now. Check back later for more.
  <a title="Home" href="/" class="btn btn-color-hover hover-animate">Home</a>
  {% endif %}
</div>


{% endblock %}


